
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-phone-1:before { content: '\e802'; } /* '' */
.icon-left-big:before { content: '\e803'; } /* '' */
.icon-left:before { content: '\e804'; } /* '' */
.icon-left-outline:before { content: '\e805'; } /* '' */
.icon-left-1:before { content: '\e806'; } /* '' */
.icon-left-2:before { content: '\e807'; } /* '' */
.icon-github-circled:before { content: '\e808'; } /* '' */
.icon-skype:before { content: '\e809'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */