
:root {
--semi-dark-one-color: rgba(114, 60, 70, 1); 
--light-one-color: rgba(242, 215, 213, 1);
--semi-dark-two-color: rgba(89, 54, 54, 1);
--light-two-color: rgba(191, 154, 154, 1);
--dark-color: rgba(38, 38, 38, 1); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.language-choice {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--light-two-color);
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--semi-dark-one-color);
    font-weight: bold;
    cursor: pointer;
}

.language-choice:hover {
    opacity: .8;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0;
    padding: 0;
    height: 80vmin;
    width: 80vmin;
    background-color: var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.start {
    transition: opacity 1s;
}

.start__square {
    width: 35vmin;
    height: 35vmin;
    background-color: var(--light-two-color);
    margin: 1.5vh;
    border-radius: 5px;
    color: var(--semi-dark-one-color);
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: opacity 1s;
}

.start__img {
    width: 20vmin;
    height: auto;
}

.start__welcome {
    background-color: transparent;
    color: var(--light-two-color);
    justify-content: center;
    cursor: default;
}

.start__works {
    background-color: var(--semi-dark-one-color);
    color: var(--light-two-color);
    font-size: 30px;
}

h3 {
    font-size: 4vmin;
    text-align: center;
}

.start__text {
    margin-bottom: 5vmin;
    margin-top: 2vmin;
    font-size: 3vmin;
}

.start:hover > .start__square {
    opacity: .5;
    transition: opacity 1s;
}

.start:hover > .start__square:hover {
    opacity: 1;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.content {
    background-color: var(--semi-dark-one-color);
    border-radius: 5px;
    color: var(--light-one-color);
    opacity: 0;
    padding: 5vmin;
    position: relative;
    transition: opacity 1s;
    display: none;
}

.content__cross {
    width: 6vmin;
    height: auto;
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    opacity: .6;
    cursor: pointer;
}

.content__cross:hover {
    opacity: 1;
}

.content__about-me p {
    font-size: 2.5vmin;
    margin-top: 2vmin;
    margin-bottom: 2vmin; 
    text-align: justify; 
}

.content__about-me h2 {
    font-size: 4vmin;
}

.content__about-me h4 {
    margin-bottom: 4px;
    font-size: 2.5vmin;
    width: 100%;
    text-align: center;
}

.content__my-tech {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 5vmin;
}

.content__devicon {
    font-size: 8vmin;
    margin: 2vmin;
}

.content__contact-me {
    padding-top: 5vmin;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.content__contact-me a {
   color: var(--light-one-color);
   margin-top: 2vmin;
   margin-bottom: 4vmin;
}

.content__contact-methods {
    font-size: 4vmin;  
}

.content__social-media {
    height: 30vmin;
}

.content__social-media p {
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content__social-media-items {
    display: flex;
    justify-content: center;
    font-size: 12vmin;
    margin: 3vmin;
}

.content__my-code {
   color: var(--light-one-color);
   font-size: 3vmin;
   margin-top: 2vmin;
   margin-bottom: 5vmin;
}

.content__links-to-my-works {
    width: 70vmin;
    height: 50vmin;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.content__links-to-my-works::-webkit-scrollbar {
    background-color: var(--light-two-color);
    border-radius: 10px;
    width: 1.5vmin;
}

.content__links-to-my-works::-webkit-scrollbar-thumb {
    background-color: var(--light-one-color);
    border-radius: 10px;
}

.content__links-to-my-works__frame-to-item {
    position: relative;
}

.content__links-to-my-works__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    text-align: center;
    font-size: 2.5vmin;
}

.content__links-to-my-works__item {
    width: 30vmin;
    height: 17vmin;
    margin: 1vmin;
    border-radius: 5px;
    background-color:  rgba(191, 154, 154, 1);
    background-blend-mode: overlay;
    background-size: 100%;
    background-repeat: no-repeat;
}

.content__links-to-my-works__item__guide {
    background-image: url('img/guide.jpg');
}

.content__links-to-my-works__item__todolist {
    background-image: url('img/todolist.png'); 
}

.content__links-to-my-works__item__game {
    background-image: url('img/paperstonescissors.png'); 
}

.content__links-to-my-works__item__breeds-base {
    background-image: url('img/breeds.png'); 
}

.content__links-to-my-works__item__calculator {
    background-image: url('img/calculator.png');
}

.content__links-to-my-works__item__shopping-list {
    background-image: url('img/shoppinglist.png');
}

@media (max-width: 410px) {
    .container {
        height: 90vh;
        width: 90vw;
        flex-direction: column;
    }
    .start__square {
        width: 60%;
        height: 21%;
        justify-content: center;
    }
    .start__works {
        order: 2;
    }
    .start__contact {
        order: 3;
    }
    .start__img {
        width: 30%;
        height: auto;
    }

    .start__text {
        margin: 0;
    }
    .start__welcome {
        margin-top: 0;
        margin-bottom: 0;
    }

    .content{
        height: 90vh;
        /* max-height: 90vh; */
    }
    .content__about-me p {
        font-size: 14px;
        margin-top: 2vmin;
        margin-bottom: 2vmin;
    }
    
    .content__about-me h1 {
        font-size: 20px;
    }
    
    .content__about-me h4 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .content__devicon {
        font-size: 40px;
    }

    .content__contact-methods {
        font-size: 6vmin;  
    }

    .content__social-media p {
        font-size: 5vmin;
    }

    .content__social-media-items {
        font-size: 15vmin;
    }

    .content__my-code {
        color: var(--light-one-color);
        font-size: 5vmin;
        margin-top: 2vmin;
        margin-bottom: 5vmin;
     }

    .content__links-to-my-works {
         height: 80%;
     } 

    .content__links-to-my-works__item {
        width: 59vmin;
        height: 33vmin;
        margin: 3vmin;
    }
}
